* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  box-sizing: border-box;
  max-width: 1500px;
  margin: 0;
  height: 100%;
  background-image: url("/assets/images/Pac\ Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

main {
  background: cornsilk;
}

.intro-section {
  padding: 4em;
}

.self-pic{
  height: 255px;
  border-radius: 50%;
}

.about-section {
  padding: 4em;
}

.about-section div {
  margin: 0 1em;
}
