* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  box-sizing: border-box;
  max-width: 1500px;
  margin: 0;
  height: 100%;
  background-image: url("/assets/images/Pac\ Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

main {
  background: cornsilk;
}

.intro-section {
  padding: 4em;
  background: cornsilk;
}

.self-pic{
  height: 255px;
  border-radius: 50%;
}

.about-section {
  padding: 4em;
  background: rgb(253, 230, 219);
}

.about-section div {
  margin: 0 1em;
}

.projects-section {
  background: cornsilk;
  margin: 0 auto 3em;
}

.skills-section {
  background: rgb(253, 230, 219);
  margin: 0 auto 3em;
}

.tools-section {
  background: cornsilk;
  margin: 0 auto 3em;
}

.card {
  height: 250px;
}

.card-image-top {
  height: 70%;
}

.card-body {
  color: cornsilk;
  background: black
}
